html {
  font-family: 'Open Sans', sans-serif;
  background: #4ABDAC;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: ;
}

p {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', serif;
  color: white;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: ;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav .navtitle {
  color: white;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .visuals {
  margin-right: 5em;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.login {
  text-align: center;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: pink;
  border: 3px solid red; /* #377ba8 */
}

.patient > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.patient > header > div:first-of-type {
  flex: auto;
}

.patient > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.patient .patientname {
  margin-left: 2em;
}

.patient > .risk {
  margin-left: 2em
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  color: white;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content form ul {
  list-style: none;
  align-self: center;
}

.content label[for=password] {
  margin-right: 6px;
}

.content input, .content select {
  margin-bottom: 1em;
  border-radius: 10px;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 7em;
  min-height: 35px;
  background-color: #F7B733;
  align-self: center;
}
